/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h2 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

aside {
    background-color: #fff;
    padding: 20px;
    width: 25%;
    float: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

aside img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

main {
    width: 70%;
    float: left;
    margin-left: 5%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

address {
    display: none; /* Opcional: se você não quiser exibir o conteúdo do endereço */
}

@media (max-width: 768px) {
    aside, main {
        width: 100%;
        float: none;
        margin: 0;
    }
}
