
/* telas grandes */
@media (min-width: 768px) {

    aside {
        float: left; /* posiciona o aside à esquerda */
        margin-right: 30px; 
        margin-left: 10px;
        width: 300px;
    }

    main {
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 20px auto;
        margin-left: 400px;
    }

    footer {
        width: 100%;
    }

    header{
        width: 100%;
    }

}

@media (max-width: 767px) { /* telas menores */
    
    main {
        width: 100%;
        margin: 10px
    }
    
    aside {
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 20px;
    }

    aside img {
        width: 100px;
    }

    aside h2 {
        font-size: 1.6rem;
    }

    aside p {
        font-size: 1rem;
    }

    aside a {
        font-size: 1rem;
    }

    header {
        width: 100%;
        padding: 15px;
    }

    header h1 {
        font-size: 2rem;
    }

    nav ul li {
        display: block; /* alinha os itens da lista verticalmente */
        margin: 10px 0;
    }

    footer {
        width: 100%;
        padding: 15px;
    }

    footer p {
        font-size: 0.9rem;
    }

    footer p a {
        display: block; /* exibe o email e telefone em linhas separadas */
        margin-bottom: 10px;
    }
}



* {
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative; 
    padding: 20px 0;
}


header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline-block; 
    margin: 0 15px; 
}

nav ul li a {
    color: #1E90FF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold; 
}

nav ul li a:hover {
    color: #87CEEB;
    text-decoration: underline;
}

aside {
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    margin: 20px auto; 
    margin-left: 10px;
}

aside img {
    border-radius: 50%; /* imagem circular */
    width: 150px; 
    display: block;
    margin: 0 auto 15px; 
}

aside h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

aside p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666;
}

aside a {
    color: #1E90FF;
    text-decoration: none;
    font-weight: bold;
}

aside a:hover {
    color: #87CEEB;
    text-decoration: underline; /* adiciona sublinhado */
}

main h3 {
    margin-top: 10px;
    text-align: center;
}

#project-list {
    display: flex; 
    flex-wrap: wrap; /* permite que os itens se movam para a próxima linha se não houver espaço */
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

#project-list li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    transition: box-shadow 0.3s, transform 0.3s; /* efeito de transição */
    flex: 1 1 calc(25% - 20px); /* permite que cada item ocupe 25% da largura menos margens */
    max-width: 200px;
    box-sizing: border-box; /* inclui padding e bordas no tamanho total */
}

#project-list li:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* sombra mais intensa ao passar o mouse */
    transform: translateY(-2px); /* levanta o item ao passar o mouse */
}

#project-list a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold; 
    display: block; 
}

#project-list a:hover {
    color: #0056b3;
}


#unity-container {
    text-align: center;
    margin-top: 20px;
}

#project-frame {
    border: none;
    border-radius: 10px; 
    width: 100%; 
    height: 600px; 
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; 
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1rem; 
    line-height: 1.5;
}

footer a {
    color: #1E90FF;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #87CEEB;
    text-decoration: underline;
}

footer p a {
    margin: 0 5px;
    display: inline-block; /* links na mesma linha */
}
